<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Registration Form</title>
</head>
<body>
    <form method="POST" action="/register">
        <input type="email" name="email">
        <input type="password" name="password">
        <button type="submit" >Submit</button>
    
    </form>
</body>
</html>